body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0
}

.header {
    display: flex; 
    align-items:center; 
    padding: 1rem; 
    background-color: ghostwhite;
}

.logotext {
    margin: 0 1rem; 
    font-family: Helvetica, sans-serif; 
    color: #03264F
}

h1, h2 {
    font-family: 'Lora'; 
}
h1 {
    margin-block-start: 0em;
    font-size: 2em;
}
h2 {
    margin-block-start: 1.5em;
    font-size: 1.5em;
}
p {
    font-size: 1.25em;
}

#profiles {
    margin: 0 auto;
    text-align: center;
}

.schedule, .schedule th, .schedule td{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.schedule th {
    font-size: 1.25em;
}

td {
    font-size: 1.2em;
    padding: 0.3em 1em
}

img {
    max-width: 50em;
}

iframe {
    max-width: 35em;
}

.profile {
    border: 3px solid green;
    border-radius: 50%;
    max-width: 150px;
}



